{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% if competences %}
<h3 class="text-center">
    Liste Competences
    
</h3>
<table class="table table-hover table-primary table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">ID COMPETENCE</th>
            <th scope="col">DESCRIPTION</th>
        </tr>
    </thead>
    <tbody>
        {% for Competence in competences %}
        <tr>
            <td>{{ Competence.idCompetence}}<a class="btn btn-success" href="{% url 'autopilotDjangoApp:modifierCompetence' Competence.idCompetence %}" role="button">Modifier</a> <a class="btn btn-danger" href="http://127.0.0.1:8000/app/supprimerCompetence/" role="button">Supprimer</a></td>
            <td>{{ Competence.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="btn btn-primary" href="http://127.0.0.1:8000/app/register-competence/" role="button">Ajouter</a>
{% else %}
<p>list_Competence is not available.</p>
{% endif %}